# =====================
# 编译生成文件
# =====================
# Windows 可执行文件
*.exe
*.dll
*.lib
*.obj

# Linux/macOS 可执行文件
*.out
*.app
*.o
*.so
*.dylib
*.dSYM

# =====================
# 编译器中间文件
# =====================
*.a          # 静态库
*.la
*.lo
*.lai
*.pch        # 预编译头文件
*.slo
*.mod        # 模块文件
*.gcno       # gcov 输出
*.gcda       # gcov 输出
*.gcov       # gcov 输出

# =====================
# CMake 文件
# =====================
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
build/
Debug/
Release/
*.cmake

# =====================
# IDE/编辑器文件
# =====================
# VSCode
# .vscode/
# CLion
.idea/
*.iml

# =====================
# 日志/临时文件
# =====================
*.log
*.tmp
*.swp
*.DS_Store


# =====================
# 资源文件
# =====================
*.mp4
*.mov